@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg-primary: rgb(255, 255, 255);
    --color-bg-secondary: rgb(229, 229, 229);
    --color-bg-inverse: rgb(23, 23, 23);

    --color-text-primary: rgb(23, 23, 23);
    --color-text-secondary: rgb(163, 163, 163);
    --color-text-inverse: rgb(255, 255, 255);

    --color-ring-primary: rgb(168, 85, 247);

    --color-border-primary: rgb(229, 231, 236);
  }

  .dark {
    --color-bg-primary: rgb(23, 23, 23);
    --color-bg-secondary: rgb(64, 64, 64);
    --color-bg-inverse: rgb(255, 255, 255);

    --color-text-primary: rgb(255, 255, 255);
    --color-text-secondary: rgb(163, 163, 163);
    --color-text-inverse: rgb(23, 23, 23);

    --color-ring-primary: rgb(168, 85, 247);

    --color-border-primary: rgb(64, 64, 64);
  }
}
